<h2>List!</h2>

{{#each projects as |project|}}
  {{#link-to 'project' project.id}}
    <img src={{project.image.src}} alt={{project.image.alt}}>
    <h4>{{project.title}}</h4>
    <p>{{project.description}}</p>
  {{/link-to}}
{{/each}}
