$montserrat-stack: "montserrat", 'Helvetica Neue', Helvetica, sans-serif;

@font-face {
  font-family: 'montserrat';
  src: local("⌁"),
  url('/assets/fonts/montserrat/montserrat-bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: local("⌁"),
  url('/assets/fonts/montserrat/montserrat-semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: local("⌁"),
  url('/assets/fonts/montserrat/montserrat-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

%montserrat-font {
  font-family: $montserrat-stack;
  font-style: normal;
  font-weight: 400;
}

html {
  @extend %montserrat-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.57;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}