html {
  font-size: 100%;
}

body {
  background: $white;
  margin: 0;
}

.hidden {
  display: none;
}

.Page--top {
  margin-top: 70px;
}

.container {
  width: calc(100% - 48px);
	// max-width: 90%;
  background: $white;
  padding: 24px;
}

.responsive {
  width: 100%;
}

.responsive--max {
  width: auto;
  max-width: 100%;
}

.tag {
  cursor: pointer;
  background: $purple;
  display: inline-block;
  border-radius: 20px;
  color: $white;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 5px 10px;
  transition: background 1s ease;

  &:hover {
    background: $pink;
  }
}

h2 {
  background: $purple;
  color: $white;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-weight: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
}

// @TODO investigate better fix for padding issue
@media only screen and (max-width: 64rem) {
  body {
    background: $white;
  }

  .container {
    width: calc(100% - 24px);
    padding: 24px 12px;
  }
  .row {
    p, h3, h2 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
