html {
  font-size: 100%;
}

body {
  background: $white;
  margin: 0;
  height: 100%;
}

// @TODO this feels hacky... (for sticky footer)
body > .ember-view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.hidden {
  display: none;
}

.Page--top {
  margin-top: 70px;
}

.container {
  width: calc(80% - 48px);
  padding: 24px;
}

.responsive {
  width: 100%;
  height: auto;
}

.responsive--max {
  width: auto;
  max-width: 100%;
}

.tag {
  cursor: pointer;
  background: $purple;
  display: inline-block;
  border-radius: 20px;
  color: $white;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 5px 10px;
  transition: background 1s ease;

  &:hover {
    background: $pink;
  }
}

h2 {
  background: $purple;
  color: $white;
  display: block;
  text-align: center;
  padding: 10px 0px;
  font-weight: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 0;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-sm {
  margin-top: 12px;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-sm {
  margin-bottom: 12px;
}

.nowrap {
  white-space: nowrap;
}

.sm-visible {
  display: none !important;
}

hr {
  background: $white;
  height: 1px;
  border: 0;
}

a {
  color: $black-25;
  transition: color ease .5s;

  &:hover {
    color: $pink;
  }
}

.Footer {
  background: $black-25;
  box-shadow: inset 0 20px 50px 0px rgba(0,0,0,0.4);
  color: $white;

  h3 {
    margin-bottom: 0;
    width: 100%;
    border-bottom: 4px solid $white;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    color: $white;
    transition: color ease .5s;

    &:hover {
      color: $pink;
    }
  }
}

.Footer-text {
  padding: 6px 12px 6px 0px;
}


.loader {
  background: $white;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // z-index: 100;
}

.spinner {
  margin: 0 auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: relative;
  top: 50%;
  transform: translateX(-50%);
}

.spinner > div {
  background-color: $purple;
  height: 100%;
  width: 6px;
  display: inline-block;

  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  animation-delay: -1.1s;
}

.spinner .rect3 {
  animation-delay: -1.0s;
}

.spinner .rect4 {
  animation-delay: -0.9s;
}

.spinner .rect5 {
  animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
  }
}

// @TODO investigate better fix for padding issue
@media only screen and (max-width: 64rem) {
  body {
    background: $white;
  }

  .container {
    width: calc(100% - 24px);
    padding: 24px 12px;
  }

  .row {
    p,
    h3,
    hr,
    h4,
    ul,
    .Profile,
    .Project-link,
    .Social,
    .Footer-item {
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
  }
}

@media only screen and (max-width: 48rem) {
  .row {
    .Project,
    .About,
    .Skills {
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
  }

  .sm-visible {
    display: inherit !important;
  }

  .sm-hidden {
    display: none !important;
  }
}
