html {
  font-size: 100%;
  font-family: 'sanchezregular', 'Times New Roman', serif;
}

body {
  background: url('./images/sayagata-400px.png') #eee;
  margin: 0;
}

.hidden {
  display: none;
}

.Header--headroom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(45deg,#8016ac,#bd1b99);
  color: white;
  z-index: 20;

}

.Header {
  background: linear-gradient(45deg,#8016ac,#bd1b99);
  color: #fff;
  height: 300px;
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 0rem;
  margin-right: 0rem;
  position: relative;

  &:before {
    content: '';
    position:absolute;
    height: 300px;
    width: 100%;
    background: url('./images/header.jpg') center bottom no-repeat;
    background-size: cover;
  	opacity: .2;

  }

  .Header--text {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-weight: 100;
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 1.34em;
  }

  p {
    margin-top: 0;
    font-size: 1rem;
  }

  .LinkList {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      width: 50px;
      transition: .2s ease;

      &:hover {
        transform: translateY(-4px);
      }

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #fff;


        &:active {
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 75em) {
  .Header {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    height: 200px;

    &:before {
      height: 200px;
    }

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: .9rem;
    }
  }
}

.container {
  width: 920px;
	max-width: 90%;
  background: #fff;
  padding: 24px;
}

.responsive {
  width: 100%;
}
