.Header--headroom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(45deg,$purple,$pink);
  box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.2);
  color: $white;
  z-index: 20;

  &:before {
    content: '';
    position:fixed;
    height: 70px;
    width: 100%;
    background: url('./images/header.jpg') center bottom no-repeat;
    background-size: cover;
    opacity: .05;
  }

  h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 70px;
    font-size: 1.2rem;
  }

  .LinkList {
    padding-top: 3px !important;
  }
}

.Header-container {
  @extend .container;
  margin-top: 11px;
  height: 0px;
}

.Header--main {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(189,27,153,0.6);
    height: 70px;
    color: $white;
    text-decoration: none;
    transition: background 200ms linear;

    &:hover {
      background: $pink;
    }
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
  box-shadow: none;
}

.Top {
  margin-top: 70px;
}

.Header {
  background: linear-gradient(45deg,$black,$white);
  color: $white;
  height: 400px;
  margin-top: 22px;
  margin-left: 0rem;
  margin-right: 0rem;
  position: relative;
  box-shadow: inset 0 -50px 50px 0px rgba(0,0,0,0.2);

  &:before {
    content: '';
    position:absolute;
    height: 400px;
    width: 100%;
    background: url('./images/header.jpg') center top no-repeat;
    background-size: cover;
  	opacity: .2;
  }

  h1 {
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 5rem;
  }

  p {
    margin-top: -1rem;
    font-size: 1rem;
  }
}

.Header-text {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  margin: 0 auto;
  text-align: center;
}

.headroom-text {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  // margin: 0 auto;
  text-align: center;
}

.LinkList {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    width: 50px;
    transition: .2s ease;

    &:hover {
      transform: translateY(-4px);
    }

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: $white;


      &:active {
        color: $white;
      }
    }
  }
}

@media only screen and (max-width: 50em) {
  .Header {
    // margin-left: -0.5rem;
    // margin-right: -0.5rem;
    height: 200px;

    &:before {
      height: 200px;
    }

    h1 {
      font-size: 2.5rem;
      margin-top: 2.5rem;
    }

    p {
      margin-top: 0rem;
      font-size: .9rem;
    }
  }
}
