.Project--tile {
  position: relative;
  margin-bottom: 10px;
  padding: 10px auto;
  transition: all 1s ease;

  .tag {
    color: $purple;
    background: $white;
  }

  .Project--summary {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: perspective(1px) translateY(-50%);
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: all 1s ease;

    h4 {
      color: $white;
      z-index: 10;
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 5px);
    top: 0;
    background: $purple;
    opacity: 0;
    transition: all 1s ease;
    z-index: 1;
  }

  &:hover {
    .Project--summary {
      opacity: 1;
    }

    &:after {
      opacity: 0.7;
    }
  }
}

@media only screen and (max-width: 60em) {
  .Project--tile {
    &:after {
      opacity: .3 !important;

    }
    .Project--summary {
      opacity: 1 !important;
    }
  }
}
