.Skill {
  display: block;
  background: $pink;
  color: $white;
  padding: 12px 24px;
  margin-bottom: 12px;
  transition: all 1s ease;
  cursor: pointer;
  text-align: center;
}

.is-active {
  background: $purple;
  transition: all 1s ease;
}
