.Social--link {
  color: $black;
  text-align: right;
  font-size: 0.8rem;

  a {
    color: black;
    text-decoration: underline;
    font-style: italic;
  }
}

.Social--item {
  display: block;
  background: $pink;
  color: $white;
  padding: 6px 12px;
  margin-bottom: 12px;

  h3 {
    margin-top: 6px;
  }

  a {
    color: $white;
  }

  .Social--link {
    color: $white;
    a {
      color: $white;
    }
  }
}
