<div class="container">
  <div class="row">
    <div class="col-md-4 responsive Footer-item">
      <div class="Footer-text">
        <h3>Declan Ramsay</h3>
        <p>
          Web Developer<br />
          Wellington, New Zealand<br />
          0272678898
        </p>
      </div>
    </div>

    <div class="col-md-4 responsive Footer-item">
      <div class="Footer-text">
        <h3>Contact Me</h3>
        <ul>
          <li><a href="mailto:&#100;&#101;&#099;&#108;&#097;&#110;&#100;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject=Hi%20Declan">Email</a></li>
          <li><a href="http://www.twitter.com/thelucideffect">Twitter</a></li>
          <li><a href="http://nz.linkedin.com/in/declandr/">LinkedIn</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-4 responsive Footer-item">
      <div class="Footer-text">
        <h3>Other Links</h3>
        <ul>
          <li><a href="../assets/declan-ramsay-cv.pdf">Resume PDF</a></li>
          <li>Fonts – <a href="https://fonts.google.com/specimen/Source+Sans+Pro">Source Sans Pro</a> &amp; <a href="http://fontawesome.io/">Font Awesome</a></li>
          <li>Sprite - <a href="https://openclipart.org/detail/248259/retro-character-sprite-sheet">Retro Character Sprite Sheet</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
