<div class="Header--headroom">
  Headroom!
</div>
<div class="Header row">
  <div class="Header--text">
    <h1>Declan Ramsay</h1>
    <p>Web developer based in Wellington, New Zealand</p>
    <ul class="LinkList">
      <li><a href="https://twitter.com/thelucideffect"><i class="fa fa-twitter fa-lg"></i></a></li>
      <li><a href="https://github.com/thelucideffect"><i class="fa fa-github fa-lg"></i></a></li>
      <li><a href="https://www.linkedin.com/in/declandr/"><i class="fa fa-linkedin fa-lg"></i></a></li>
    </ul>
  </div>
</div>
