<div class="Header--headroom headroom">
  <div class="Header--text row middle-xs">
    <div class="col-xs-6">
      {{#link-to 'home'}}
        <div class="Header--main">
          <h1>Declan Ramsay</h1>
        </div>
      {{/link-to}}
    </div>
    <div class="col-xs-6">
      <ul class="LinkList">
        <li><a href="https://twitter.com/thelucideffect" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://github.com/thelucideffect" target="_blank" rel="noopener noreferrer"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="https://www.linkedin.com/in/declandr/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin fa-lg"></i></a></li>
      </ul>
    </div>
  </div>
</div>
