<div class="Header--text">
  <h1>Declan Ramsay</h1>
  <p>A web developer based in Wellington, New Zealand</p>
  <ul class="">
    <li><a href="https://twitter.com/thelucideffect">Twitter</a></li>
    <li><a href="https://github.com/thelucideffect">Github</a></li>
    <li><a href="https://www.linkedin.com/in/declandr/">LinkedIn</a></li>
  </ul>
</div>
